* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
}
body {
    height: 100vh;
    margin: 0rem;
    background: #232323;
    overflow:scroll;
    overflow-x: hidden;
}
#main{
    width: 100%;
    height: 100%;
}
#page1{
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: space-around;
}
body::-webkit-scrollbar {
    width: 0.1rem;
  }
   
body::-webkit-scrollbar-track {
    box-shadow: 0;
  }
   
body::-webkit-scrollbar-thumb {
    background-color:transparent;
  }
#nav{
    margin-top: 30px;
    position: absolute;
    right: 40px;
}
.button1 {
    background: transparent;
    color: #dadada;
    padding: 13.5px 30px;
    font-size: 15px;
    border-radius: 50px;
    cursor: pointer;
    border: 2px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    transition: background-color 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
  }
  
  .button1:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgba(253, 253, 253, 0.45) 0%, rgba(255, 255, 255, 0) 100%);
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    pointer-events: none;
  }
  
  .button1:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .button1:hover:before {
    transform: translateX(0);
  }
  .button2 {
    margin-left: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 15px 30px;
    border: 0;
    position: relative;
    overflow: hidden;
    border-radius: 10rem;
    transition: all 0.02s;
    font-weight: bold;
    color: rgb(37, 37, 37);
    z-index: 0;
    box-shadow: 0 0px 7px -5px rgba(0, 0, 0, 0.5);
  }
  
  .button2:hover {
    background: rgb(193, 228, 248);
    color: rgb(23, 0, 61);
  }
  
  .button2:active {
    transform: scale(0.97);
  }
  
  .hoverEffect {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  
  .hoverEffect div {
    background: rgb(222,0,75);
    background: linear-gradient(90deg, rgba(222,0,75,1) 0%, rgba(191,70,255,1) 49%, rgba(0,212,255,1) 100%);
    border-radius: 40rem;
    width: 10rem;
    height: 10rem;
    transition: 0.4s;
    filter: blur(20px);
    animation: effect infinite 3s linear;
    opacity: 0.5;
  }
  
  .button2:hover .hoverEffect div {
    width: 8rem;
    height: 8rem;
  }
  
  @keyframes effect {
  
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  h1 {
    font-family: 'Space Mono', monospace;
    font-size: clamp(3rem, 10vw, 10rem);
    color: #dadada;
    padding: 0rem clamp(1rem, 2vw, 3rem);
    border-radius: clamp(0.4rem, 0.75vw, 1rem);
  }
  
  h1:hover {
    transition: all .2s linear;
    background: #dadada;
    color: #232323;
  }
  #page2{
    width: 100%;
    height: 100%;
    background: #979797;
    display: grid;
    align-items: center;
    justify-content: center;
}
#page2 h2{
  font-family: 'Space Mono', monospace;
  font-weight: 800;
  letter-spacing: -6px;
  margin-top: 100;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 70px;
  color: #232323;
}
#part1{
  display: flex;
  align-items: center;
  justify-content: center;
}
#part1 h1{
  font-size: 70px;
}
img{
  width: 65%;
}
